asgiref==3.3.1
astroid==2.4.2
attrs==20.2.0
boto3==1.16.35
botocore==1.19.35
cachetools==4.2.0
certifi==2020.12.5
chardet==3.0.4
coverage==5.3
dj-database-url==0.5.0
dj-email-url==1.0.1
Django==3.1.4
django-cache-url==3.1.2
django-crispy-forms==1.10.0
environs==9.2.0
google-api-core==1.23.0
google-auth==1.24.0
google-cloud-core==1.4.4
google-cloud-translate==3.0.2
googleapis-common-protos==1.52.0
googletrans==3.0.0
grpcio==1.34.0
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.11.21
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.0.1
isort==5.5.3
jmespath==0.10.0
lazy-object-proxy==1.4.3
libcst==0.3.15
marshmallow==3.9.1
mccabe==0.6.1
more-itertools==8.5.0
mypy-extensions==0.4.3
packaging==20.4
pluggy==0.13.1
proto-plus==1.13.0
protobuf==3.14.0
psycopg2-binary==2.8.6
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
rfc3986==1.4.0
rsa==4.6
s3transfer==0.3.3
six==1.15.0
sniffio==1.2.0
sqlparse==0.4.1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
wrapt==1.12.1
zipp==3.2.0
