{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="text-center">
        <form action="/output/" method="post">
            
            {% csrf_token %}

            <div class="form-group">
                {{ form.direction|as_crispy_field }}
            </div>

            </br>

            <div class="form-group">
                {{ form.source_text|as_crispy_field }}
            </div>

            <button type="submit" class="btn btn-outline-primary mt-3 mb-5">Translate</button>

        </form>
    </div>

{% endblock content %}