{% extends 'base.html' %}

{% block content %}

    <p>Source Text:
        <div class="alert alert-primary" role="alert">
            {{src_txt}}
        </div>
    </p>

    <p>Google Translate:
        <div class="alert alert-info" role="alert">
            {{google}}
        </div>
    </p>

    <p>Microsoft Translator:
        <div class="alert alert-warning" role="alert">
            {{microsoft}}
        </div>
    </p>

    <p>Amazon Translate:
        <div class="alert alert-danger" role="alert">
            {{aws}}
        </div>
    </p>

    <div class="text-center pt-3 pb-5">
        <a href="{% url "input" %}" class="btn btn-outline-primary">New Translation</a>
    </div>

{% endblock content %}


