{% extends 'base.html' %}

{% block content %}

    <p>Source Text:
        <div class="alert alert-primary" role="alert">
            {{source_text}}
        </div>
    </p>

    <p>Google Translate:
        <div class="alert alert-info" role="alert">
            {{google_result}}
        </div>
    </p>

    <p>Microsoft Translator:
        <div class="alert alert-warning" role="alert">
            {{microsoft_result}}
        </div>
    </p>

    <p>Amazon Translate:
        <div class="alert alert-danger" role="alert">
            {{aws_result}}
        </div>
    </p>

    <div class="text-center pt-3 pb-5">
        <a href="{% url "home" %}" class="btn btn-outline-primary">New Translation</a>
    </div>

{% endblock content %}


